body {
	opacity: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
}

body>svg {
	position: absolute;
	left: 0;
	top: 0;
}

text {
	stroke-linejoin: round;
	font-size: 20px;
	font-family: Microsoft JhengHei;
	text-anchor: middle;
	dominant-baseline: middle;
}

#牌區>g {
	transform: translate(calc(var(--x) * 60px), calc(var(--y) * 80px));
}

#牌區>g.hide {
	opacity: 0;
}

#牌區>g>.move,
#牌區>g>.rect {
	fill: none;
}

#牌區>g:hover>.move {
	fill: #00bf0055;
}

#牌區>g>.rect.see {
	fill: #ff7f0055;
}

#牌區>g>.rect.lock,
#牌區>g>.rect.lock.see {
	fill: #7f00ff55;
}