body {
	opacity: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
}

body>svg {
	position: absolute;
	left: 0;
	top: 0;
}

text {
	stroke-linejoin: round;
	font-size: 40px;
	font-family: Microsoft JhengHei;
	text-anchor: middle;
	dominant-baseline: middle;
	fill: #fff;
	stroke: #fff;
	stroke-width: 0.025em;
	transform: translate(0, 0.1em);
}

.頁面 {
	display: none;
}

.頁面.顯示 {
	display: inline;
}

.按鈕>rect {
	rx: 30px;
	ry: 30px;
	width: 240px;
	height: 90px;
	fill: #555;
}

.按鈕>g {
	transform: translate(120px, 45px);
}

.按鈕>g>text {
	font-size: 60px;
}

#牌區>g {
	transform: translate(calc(var(--x) * 60px), calc(var(--y) * 80px));
}

#牌區>g.hide {
	opacity: 0;
}

#牌區>g>rect {
	x: 1px;
	y: 1px;
	rx: 3px;
	ry: 3px;
	width: 58px;
	height: 78px;
	fill: #f0f0e5;
}

#牌區>g>.rect {
	fill: none;
}

#牌區>g>.move,
#牌區>g>.move2 {
	x: 2px;
	y: 2px;
	rx: 3px;
	ry: 3px;
	width: 56px;
	height: 76px;
	fill: none;
}

#牌區>g:hover>.move {
	stroke: #e22;
	stroke-width: 6px;
}

#牌區>g:hover>.move2 {
	stroke: #ed2;
	stroke-width: 3px;
}

#牌區>g>.rect.see {
	fill: #ff7f0055;
}

#牌區>g>.rect.lock,
#牌區>g>.rect.lock.see {
	fill: #7f00ff55;
}