body {
	opacity            : 0;
	user-select        : none;
	-moz-user-select   : none;
	-webkit-user-select: none;
	-ms-user-select    : none;
	background-color   : #000;
}

body>img {
	position: absolute;
	opacity : 0;
}

body>svg {
	position        : absolute;
	left            : 50%;
	top             : 50%;
	transform-origin: 0px 0px;
	transform       : scale(var(--fm));
	margin-left     : calc(var(--fm) * var(--w) / -2 * 1px);
	margin-top      : calc(var(--fm) * var(--h) / -2 * 1px);
	width           : calc(var(--w) * 1px);
	height          : calc(var(--h) * 1px);
	border          : 1px solid #fff;
}

text {
	stroke-linejoin  : round;
	font-size        : 20px;
	font-family      : Microsoft JhengHei;
	text-anchor      : middle;
	dominant-baseline: middle;
}